<h2>Registrar</h2>

<app-username-field [inputId]="'username-input'" [inputLabel]="'Usuário: '" [disabled]="callingApi" (validatedInput)="changedUsername($event)"></app-username-field>

<app-password-field [inputId]="'password-1-input'" [inputLabel]="'Senha: '" [disabled]="callingApi" (validatedInput)="changedPassword1($event)"></app-password-field>

<app-password-field [inputId]="'password-2-input'" [inputLabel]="'Repetir senha: '" [disabled]="callingApi" [otherPassword]="password" (validatedInput)="changedPassword2($event)"></app-password-field>

<app-password-field [inputId]="'passphrase-1-input'" [inputLabel]="'Senha de desbloqueio: '" [disabled]="callingApi" (validatedInput)="changedPassphrase1($event)"></app-password-field>

<app-password-field [inputId]="'passphrase-2-input'" [inputLabel]="'Repetir senha de desbloqueio: '" [disabled]="callingApi" [otherPassword]="passphrase" (validatedInput)="changedPassphrase2($event)"></app-password-field>

<div>
	<button (click)="submitRegister()" [disabled]="callingApi || !usernameValid || !password1Valid || !password2Valid || !passphrase1Valid || !passphrase2Valid">Registrar</button>
	<strong [hidden]="!registerError">
		{{registerError}}
	</strong>
</div>
